body {
    min-width: 290px;
    color: #364652;
    background-color: #F5F0F6;
    font-family: 'Open Sans', Arial, sans-serif;
    line-height: 1.5;
}

#navbar {
    position: fixed;
    min-width: 290px;
    top: 0px;
    left: 0px;
    width: 300px;
    height: 100%;
    border-right: solid;
    border-color: #364652;
}
  
header {
    color: #364652;
    margin: 10px;
    text-align: center;
    font-size: 1.9em;
    font-weight: bold;
}

#navbar ul {
    height: 88%;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
}

#navbar li {
    color: #364652;
    border-top: 1px solid;
    list-style: none;
    position: relative;
    width: 100%;
}

#navbar a {
    display: block;
    padding: 10px 30px;
    color: #364652;
    text-decoration: none;
    cursor: pointer;
}

#navbar a:hover {
    background-color: #FBFF12;
    color: #364652;
}

#navbar .title {
    cursor: default;
    font-weight: bold;
    padding: 0 10px;
}

#main-doc {
    position: absolute;
    margin-left: 310px;
    padding: 20px;
    margin-bottom: 110px;
}

.bold {
    font-weight: bold;
}